{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Itaque animi harum amet odio fuga, aspernatur, eaque aut
         architecto quo aliquam natus iusto quisquam dolorem magni
          beatae quod tempore? Nam voluptate quia distinctio nulla quod. 
          In quasi sunt ad velit culpa eius, quibusdam, adipisci 
        tempora eum voluptates voluptate, hic sed fugit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Itaque animi harum amet odio fuga, aspernatur, eaque aut
             architecto quo aliquam natus iusto quisquam dolorem magni
              beatae quod tempore? Nam voluptate quia distinctio nulla quod. 
              In quasi sunt ad velit culpa eius, quibusdam, adipisci 
            tempora eum voluptates voluptate, hic sed fugit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Itaque animi harum amet odio fuga, aspernatur, eaque aut
                 architecto quo aliquam natus iusto quisquam dolorem magni
                  beatae quod tempore? Nam voluptate quia distinctio nulla quod. 
                  In quasi sunt ad velit culpa eius, quibusdam, adipisci 
                tempora eum voluptates voluptate, hic sed fugit.</p>
</main>


{% endblock %}